@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Inter', sans-serif;
    color: #1D1D1D;
    text-decoration: none;
}

body {
    margin: 20px 15px;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -1px;
}

.container,
ul {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    margin-left: 15px;
    padding: 10px;
}

.login {
    color: blue;
}

.getstarted {
    background: #1361F5;
    color: #fff;
    border-radius: 5px;
    padding: 10px 28px
}

.getstarted:hover {
    background: #ffffff;
    color: #1361F5;
    padding: 10px 27px;
    border-radius: 5px;
    border: 1px solid #1361F5;
    transition-delay: .2s;
}

.logo {
    font-family: 'Secular One', sans-serif;
    font-size: 30px;
}

h2 {
    font-size: 35px;
    margin: 40px 0px 30px 0px;
    line-height: 50px;
}

.btn1,
.btn2 {
    border: 1px solid;
    display: inline-block;
    padding: 10px 27px;
    border-radius: 5px;
    margin-right: 10px;
}

.btn1 {
    background: #1361f5;
    border-color: #1361f5;
    color: #fff;
}

.btn2 {
    border-color: #9cbfff;
    color: #1361f5;
}

p {
    margin-bottom: 45px;
}


