.wrapper {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.column>div {
    text-align: center;
    font-size: large;
    color: white;
    background: royalblue;
    margin: 2.5px;
    padding: 50px;
    border-radius: 3px;
    flex: 1;
}